<% include partials/header %>
<div class="container-fluid" id="about">
    <div id="aboutText" class="row align-items-center justify-content-center">
        <div class = "col-md-8 ">
        <h1>About Us</h1>
        <p>
Lorem ipsum dolor sit amet
consectetur adipiscing elit.
Aenean ac orci nec enim vehicula molestie sit amet in orci
. Nullam aliquam in nisi id pharetra. Maecenas in tellus scelerisque, auctor urna et, ultricies augue.
Praesent odio sem, molestie vitae ante ut, vehicula egestas nulla. Duis et rutrum magna.
Duis molestie finibus arcu at pharetra. Nulla facilisi. Sed ultrices elit et turpis convallis lobortis.
Curabitur pellentesque libero rhoncus felis blandit malesuada id in sem.
Suspendisse sed nunc rhoncus, tristique quam sit amet, pulvinar erat.</p>
</div>
    </div>
</div>
<% include partials/footer2 %>