<% include partials/header %>
<div class="container-fluid formBody">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/contact" id="form">
             <div class="form-group">
               <label for="exampleFormControlInput1">Title</label>
               <input name="title" type="text" class="form-control" id="exampleFormControlInput1" required>
            </div><div class="form-group">
               <label for="exampleFormControlEmail1">Email</label>
               <input name="email" type="email" class="form-control" id="exampleFormControlEmail1" required>
            </div>
            <div class="form-group">
               <label for="exampleFormControlTextarea1">Message</label>
               <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer2 %>