<% include partials/header %>
<div id="signup">
        <form action="/login/email" method="POST">
            <div class="form-group">
                <input type="email" name="email" placeholder="email" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark">SUBMIT</button>
        </form>
    </div>
<% include partials/footer2 %>