<% include partials/header %>
<!-- fluid jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Pinned Effect</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et felis pellentesque, lacinia enim quis, varius augue. Integer aliquam nisl eros, id tincidunt leo venenatis eget.</p>
    <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    
  </div>
</div>
</div>
<!-- Second portion  -->
<div class="container-fluid" id="para">
  <div class="row">
    <div class="col-md-6">
      <img src="images/buildings.jpeg" class="img-fluid">
      <ul id="des">
        <li><div class="row"><div class="col-md-3"><i class="fas fa-bicycle"></i></div>
            <div class="col-md-9"><h5>Riding Mountain Bike</h5>
          <p>Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p></div></div>
        </li>
        <li><div class="row"><div class="col-md-3"><i class="fas fa-volleyball-ball"></i></div>
            <div class="col-md-9"><h5>Volley Ball Intense Training</h5>
          <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p></div></div></li>
        <li>
          <div class="row"><div class="col-md-3"><i class="fas fa-snowboarding"></i></div>
            <div class="col-md-9"><h5>Learn Snowboarding From Experts</h5>
          <p>Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p></div></div>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <img src="images/plane.jpeg" class="img-fluid">
    </div>
  </div>
</div>
<!-- third portion -->

<div class="container-fluid" id="port3">
  <div class="row">
    <div class="col-md-6 col-lg-3 card">
      <div class="card-body">
        <h4 class="card-subtitle">STUDENTS</h4>
        <h1 class="card-title">$8</h1>
        <h6 class="card-subtitle text-muted">PER MONTH</h4>
        <h6 class="card-subtitle">Personal License</h6>
        <form action="your-server-side-code" method="POST">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_NGPzlfaf5hUw5qHoEtQqoXFU"
            data-amount="800"
            data-name="Demo Site"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto"
            data-zip-code="true">
          </script>
                  <button type="submit" class="btn btn-outline-secondary">PURCHASE</a>
        </form>
      </div>
    </div>
     <div class="col-md-6 col-lg-3 card">
      <div class="card-body">
        <h4 class="card-subtitle">PROFESSIONAL</h4>
        <h1 class="card-title">$19</h1>
        <h6 class="card-subtitle text-muted">PER MONTH</h4>
        <h6 class="card-subtitle">Professional License</h6>
        <form action="your-server-side-code" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_NGPzlfaf5hUw5qHoEtQqoXFU"
                    data-amount="800"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true">
                  </script>
                  <button type="submit" class="btn btn-outline-secondary">PURCHASE</a>
         </form>
         </div>
    </div>
     <div class="col-md-6 col-lg-3 card">
      <div class="card-body">
        <h4 class="card-subtitle">AGENCY</h4>
        <h1 class="card-title">$49</h1>
        <h6 class="card-subtitle text-muted">PER MONTH</h4>
        <h6 class="card-subtitle">1-12 Team Members</h6>
          <form action="your-server-side-code" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_NGPzlfaf5hUw5qHoEtQqoXFU"
                    data-amount="800"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true">
                  </script>
                  <button type="submit" class="btn btn-outline-secondary">PURCHASE</a>
         </form>
      </div>
    </div>
     <div class="col-md-6 col-lg-3 card">
      <div class="card-body">
        <h4 class="card-subtitle">ENTERPRISE</h4>
        <h1 class="card-title">$79</h1>
        <h6 class="card-subtitle text-muted">PER MONTH</h4>
        <h6 class="card-subtitle">Unlimited Team Members</h6>
          <form action="your-server-side-code" method="POST">
                  <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_NGPzlfaf5hUw5qHoEtQqoXFU"
                    data-amount="800"
                    data-name="Demo Site"
                    data-description="Widget"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="auto"
                    data-zip-code="true">
                  </script>
                  <button type="submit" class="btn btn-outline-secondary">PURCHASE</a>
         </form>
      </div>
    </div>
  </div>
</div>
<!-- End of third portion -->
<!-- fourth portion -->
<div id="port4"></div>
<!-- End of fourth portion -->
<% include partials/footer %>

