<% include partials/header %>


    <div id="signup">
        <form action="/register" method="POST">
            <div class="form-group">
                <input type="text" name="username" placeholder="username" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="email" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-dark">SIGN UP</button>
        </form>
    </div>


<% include partials/footer2 %>
